---
layout: default
title: ABOUT
cover: 'assets/images/cover4.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/ghost.png'
current: about
---

<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header post-head {% if page.cover %}"
  style="background-image: url({{ site.baseurl }}/{{ page.cover }}) {% else %}no-cover{% endif %}">
  <div class="dark-background"></div>
  <nav class="main-nav overlay clearfix">
    {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ page.logo }}"
        alt="Blog Logo" /></a>{% endif %}
    {% if page.navigation %}
    <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    {% endif %}
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">ABOUT</h1>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

  <article class="post">
    <h3>Yeonghun Kim</h3>
    <ul>
      <li>Student in Korea Univ. Computer Science</li>
      <li>Studying development and hacking</li>
    </ul>
    <h3>Contact</h3>
    <ul>
      <li>Mail: lanph3re@gmail.com</li>
      <li>GitHub: <a href="https://github.com/Lanph3re">https://github.com/Lanph3re</a></li>
    </ul>
    <h3>Experiences</h3>
    <ul>
      <li>KITRI Best of the Best 8th Vulnerability Analysis(2019)</li>
      <li>President of Korea University Institute of Computer Security(2019)</li>
      <li>Codegate Preliminary(2018, 2019, 2020)</li>
    </ul>
    <h3>Projects</h3>
    <ul>
      <li>Vulnerability analysis in Electric Scooter Sharing Services(2019)</li>
    </ul>
  </article>

</main>
